@charset "UTF-8";
.details{
	display:flex;
	justify-content:center;
	align-items:center;
}
table{
	width:100%;
	font-family: 'Inter';
    font-style: normal;
}
td,thead{
	text-align:left;
	border-bottom: 1px solid #ddd;
	padding:5px;
}
thead {
  background-color:rgb(92, 92, 201);
  color: white;
  font-size:20px;
}
tr:nth-child(even) {
	background-color: #e9d0fd;
}
